body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background-color: #ffbb00;
    color: #000000;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 80px 1em 1em;
}

.brand-section {
    margin-bottom: 3em;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.brand-section:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.phone-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.phone-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.phone-card h4 {
    margin-top: 0;
    color: #333;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.phone-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.phone-card ul li {
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
}

.phone-card ul li:last-child {
    border-bottom: none;
}

footer p {
    margin: 0;
}

/* Анімації */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.brand-section, .phone-card {
    animation: fadeIn 1s ease-in-out;
}

.phone-card {
    animation: slideIn 1s ease-in-out;
}

@media (min-width: 768px) {
    .brand-section {
        margin: 3em auto;
        max-width: 900px;
    }
}
